---
title: QuickDown – A better inbox for your ideas
description: QuickDown is a powerful notepad on top of a local folder of plain text Markdown files
---

<section class="hero" id="visual">
	<div class="text-container">
		<h1 class="headline">A better inbox for your ideas</h1>

		<p class="subheadline">
			QuickDown is a powerful <b>notepad</b> on top of
			<br>
			a <b>local folder</b> of plain text Markdown files
		</p>

		{% include cta.html %}

		<img src="{{ site.baseurl }}/images/demo.gif" class="screenshot" />
	</div>
</section>

<div class="content features">
	<section>
		<div class="container flex">
			<div class="text">
				<h2 class="heading">Take Notes Faster</h2>
				<p>
					<b>Write, edit and save your ideas without ever leaving your keyboard.</b>

					QuickDown is built from the ground up to be keyboard-first to <i>feel</i> like a pen-and-paper notepad.
				</p>

				<p>
					<b>Capture a new idea with ONE GLOBAL HOTKEY that works anywhere and anytime.</b>

					Your cursor is immediately focused to go from idea to typing your first letter in 0.42ms or less.
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/Hotkey.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>	<section>
		<div class="container flex">
			<div class="text">
				<h2 class="heading">Save To Markdown</h2>
				<p>
					<b>Your notes are saved locally as plain text Markdown files.</b> As such, they're fully backup-able and future-proof. You can store them in any folder you want, like iCloud, Google Drive and OneDrive.
				</p>
				<p>
					<b>Save time with custom markdown templates for new notes.</b> Control your cursor-placement and automatically pre-fill them with live-variables such as today's date, time, and an auto-incremented ID.
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/Markdown.gif" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2 class="heading">Keep Your Focus</h2>
				<p>
					<b>No need to switch to a behemoth Markdown editor just to take a quick note.</b>
					QuickDown's "Less, but better" approach helps you take notes, stay focused and avoid distractions.
				<p>
					<b>It's an ideal companion to your preferred knowledge base</b>
				such as
				Obsidian, LogSeq, Microsoft OneNote, VS Code, TiddlyWiki, Zettlr, Vim, Emacs, iA Writer, MacDown and any other plain text editor, really.
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/Note-Taking.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section class="bottom-cta">

		<h1 class="headline">
			A better inbox <br>
			for your ideas
		</h1>
		<p class="subheadline">Take Notes Faster, Save To Markdown and Keep Your Focus.</p>

		{% include cta.html %}

	</section>
</div>