---
title: QuickDown – Keyboard-First, Local Markdown Note-Taking
description: QuickDown is a blazing-fast, no-frills, tiny and customizable notepad that sits on top of local plain text Markdown files
---
<section class="hero">
	<div class="text-container">
		<h1><b>Keyboard-First,<br> Local Markdown<br> Note-Taking</b></h1>
		<p class="body"><b>For people who want to <u>quickly capture ideas NOW</u></b> and flesh them out LATER with their preferred knowledge base such as Obsidian, LogSeq, VS Code, iA Writer, Zettlr, TiddlyWiki (or any other plain-text based writing process, really.)</p>

		<p class="subtext editable">QuickDown is <b>a free, blazing-fast, no-frills, tiny and customizable notepad</b> that sits on top of <b>local plain text Markdown files</b></p>

		{% include cta.html %}

		<div>
			<img src="{{ site.baseurl }}/images/demo.gif" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><b>"Keyboard-First"</b></h2>
				<p>
					<b>Write, edit and save your ideas to Markdown files without ever leaving your keyboard.</b>

					Just like a real notepad, QuickDown is built from the ground up to <i>feel</i> like pen-and-paper.
				</p>

				<p>
					<b>To capture a new idea, you have one global hotkey that works anywhere and anytime.</b>

					Your cursor is immediately focused to go from idea to typing your first letter in 0.42ms or less.
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/Hotkey.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><b>"Local Markdown"</b></h2>
				<p>
					<b>Your notes are saved locally as plain text Markdown files.</b> As such, they're fully backup-able and future-proof, you can store them in any folder you want including iCloud, Google drive, DropBox and OneDrive.
				</p>
				<p>
					<b>Save time with custom markdown templates for new notes.</b> Start with your preferred document structure, pre-fill your template with today's date, time and clipboard-content and control exactly where you want your cursor to be placed when you start writing.
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/Markdown.gif" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><b>"Note-Taking"</b></h2>
				<p>
					<b>No need to switch to a behemoth markdown editor just to take a quick note.</b>
					To keep you focused and avoid distraction, QuickDown is intentionally bare-bones, always-in-the-background yet only visible when you need it.
				</p>
				<p>
					<b>It is a lightweight companion to your preferred knowledge base</b> like Obsidian, LogSeq, VS Code, iA Writer, Zettlr, and TiddlyWiki (or any other plain-text based writing process, really.)
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/Note-Taking.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section class="page">
		<div class="container">
			<h2 class="center-text">Note-Taking <i>Is</i> Personal</h2>

			<div class="blog-post text-container">
				<p class="post-details">
				</p>

				<div class="post-content">
					<p>
						Berlin, Germany
						<br>
						{{ site.time | date: '%B' }}
						{{ site.time | date: '%d' }},
						{{ site.time | date: '%Y' }}
						at 9:45am
					</p>

					<p>–</p>

					<p>DEAR friend,</p>

					<p>As an <a href="https://publish.obsidian.md/alexisrondeau">avid Obsidian user</a> and <a href="https://publish.obsidian.md/alexisrondeau/%E2%AD%90%EF%B8%8F+My+Physical+Notebooks+(Photos)">constant pen-paper note-taker</a>, I often want to take a quick markdown note while working <i>BUT...</i></p>

					<p><em>– without</em> having to keep Obsidian running in the background</p>
					<p><em>– without</em> having to switch to Obsidian to write</p>
					<p><em>– without</em> having to leave my keyboard</p>

					<p>I want to capture ideas quickly <i>NOW</i> so I can continue to focus.</p>

					<p>Only <i>LATER</i> do I want to connect and remix them in Obsidian only at specific moments.</p>

					<p>None of the existing <a href="https://www.macmenubar.com/note-taking-apps/">note-taking menu bar apps</a> had what I needed. So I made my own that fits my needs perfectly.</p>

					<p>1. A single global hotkey <code>⌘-⌥-N</code> creates a new note</p>
					<p>2. A simple <code>⌘-S</code> saves the markdown note into my Obsidian vault</p>
					<p>3. A simple <code>Esc</code> dismisses the popover</p>

					<p>That's how QuickDown came about: Just a way to jot down a markdown note.</p>

					<p>Nothing more, nothing less.</p>

					<p>I hope QuickDown will help you as much as it has helped me!</p>

					<p>With best wishes,</p>

					<p>
						<img src="{{ site.baseurl }}/images/signature.jpg" style="width: 100px"/>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable">Save Your Ideas, Stay Focused, Remove Distractions</h2>

		{% include cta.html %}

	</section>
</div>
