h1.headline {
	padding-top: 100px;
	font-size: 72pt;
	font-weight: bold;
	letter-spacing: -2px;
}

.subheadline {
	font-size: 22pt;
	b {
		font-weight: bold;
	}
}

h2.heading {
	font-size: 38pt;
	font-weight: bold;
	letter-spacing: -2px;
}

.copy {
	font-size: 1.4em;
	b {
		text-decoration: underline;
	}
}

.download {
	padding: 20px 40px;
	color: #fff;
	background: #f55b12;
	background: linear-gradient(to bottom, #f55b12 0%, #f55b12 80%) no-repeat #f55b12;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.30);
	transition: .2s ease-in-out;
	display: inline-block;

	h1 {
		font-weight: normal;
		font-size: 22px;
		display: inline-block;
	}

	h2 {
		font-size: 18px;
		display: contents;
	}
}

.download:hover {
	text-decoration: none;
	box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
}

.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	p {
		font-size: 32pt;
		margin-bottom: 50px;
		color: white;
	}
}

.inbetween-cta {
	padding: 30px 50px;
	background-color: $brand-color;
}

.letter {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
	background-color: #fcfce6;
	font-family: "American Typewriter";
	box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);

	p {
		color: #00007e !important;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background-color: $brand-color;
	padding-top: 50px;

	p {
		color: #fff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
