<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

	</head>
	<body>
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" alt="Hydra Logo" width="95" height="33" /></a></div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}
		<footer>
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Edit footer</a></p>
				<div class="footer-columns">
					{% for column in site.data.footer %}
					<ul class="footer-links">
						{% for link in column.links %}
							<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								{% if link.social_icon %}
									{% include social-icon.html icon=link.social_icon %}
								{% endif %}
								{{ link.name }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>

				<p class="copyright">&copy; {{ site.time | date: '%Y' }} <a href="https://publish.obsidian.md/alexisrondeau">Alexis Rondeau</a> • <a href="#">Terms</a> &amp; <a href="#">Privacy</a> • <a href="https://github.com/akaalias/quickdown">Fully Open-Source on Github</a></p>
				<p>
				<div class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" alt="Hydra Logo" width="95" height="33" /></a></div>
				</p>
			</div>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
		<script>
			VANTA.BIRDS({
				el: "#visual",
				mouseControls: true,
				touchControls: true,
				gyroControls: false,
				minHeight: 200.00,
				minWidth: 200.00,
				scale: 1.00,
				scaleMobile: 1.00,
				backgroundColor: 0x418e,
				color1: 0x3cff,
				color2: 0x69ff,
				birdSize: 0.80,
				wingSpan: 22.00,
				speedLimit: 4.00,
				alignment: 48.00,
				cohesion: 75.00,
				quantity: 4.00
			})
			// VANTA.HALO({
			// 	el: "#visual",
			// 	mouseControls: false,
			// 	touchControls: false,
			// 	gyroControls: false,
			// 	minHeight: 200.00,
			// 	minWidth: 200.00,
			// 	baseColor: 0x0,
			// 	amplitudeFactor: 0.00,
			// 	xOffset: 0,
			// 	size: 1.80
			// })
		</script>
	</body>
</html>
